[Unit]
Description=grafana
Documentation=bebebe
After=network.target docker.socket
Requires=docker.socket

[Service]
Restart=always

ExecStartPre=-/usr/bin/docker rm grafana/grafana:9.2.8

ExecStart=/usr/bin/docker run \
  --rm \
  --user=1102 \
  --publish=3000:3000 \
  --volume=/etc/grafana/provisioning:/etc/grafana/provisioning \
  --volume=/data/grafana:/var/lib/grafana \
  --name=grafana_1 \
  grafana/grafana:9.2.8
  
ExecStop=/usr/bin/docker stop grafana
 
[Install]
WantedBy=multi-user.target
