[Unit]
Description=mysql
Documentation=bebebe
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=100
Restart=on-failure

ExecStartPre=-/usr/bin/docker pull mysql:5.7

ExecStart=/usr/bin/docker run \
  --name mysql_1 \
  --rm \
  -p 3306:3306 \
  -v /db/mysql:/var/lib/mysql \
  -e MYSQL_ROOT_USER=root \
  -e MYSQL_ROOT_PASSWORD=rootpassword \
  -e MYSQL_DATABASE=tst_db \
  -e MYSQL_USER=juser \
  -e MYSQL_PASSWORD=jpassword \
  mysql:5.7

TimeoutStartSec=600

ExecStop=/usr/bin/docker stop mysql_1

KillMode=none

[Install]
WantedBy=multi-user.target
