apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    version: 1
    access: proxy
    orgId: 1
    basicAuth: false
    editable: false
    url: http://{{ gr_host_name }}:{{ gr_prometheus_http_port }}
