[Unit]
Description={{ nde_service_name }}
{% if nde_container_runtime == "docker" %}
Requires=docker.service
After=docker.service
{% else %}
After=network.target
Wants=network.target
{% endif %}

[Service]
Restart={{ nde_restart_policy }}
RestartSec={{ nde_restart_sec }}

ExecStartPre=-/usr/bin/{{ nde_container_runtime }} rm --force {{ nde_container_name }}
ExecStart=/usr/bin/{{ nde_container_runtime }} run \
  --rm \
  --name {{ nde_container_name }} \
  --publish {{ nde_host_http_port }}:{{ nde_container_port }} \
  {{ nde_container_image }}
ExecStop=/usr/bin/{{ nde_container_runtime }} stop -t 10 {{ nde_container_name }}

ExecReload=/usr/bin/{{ nde_container_runtime }} kill --signal HUP {{ nde_container_name }}
{% if nde_container_runtime == "podman" +%}
KillMode=none
{%+ endif %}

[Install]
WantedBy=multi-user.target
