[Unit]
Description=node_exporter_1
Documentation=123
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=100
Restart=on-failure

ExecStartPre=-/usr/bin/docker pull bitnami/node-exporter

ExecStart=/usr/bin/docker run \
  --name node_exporter_1 \
  --rm \
  -p 9100:9100 \
  bitnami/node-exporter

TimeoutStartSec=600

KillMode=none

[Install]
WantedBy=multi-user.target
